/* Work Snas font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* Header style  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
}